# Node
NODE_PORT=3000
DEBUG=development
# development, staging, production
NODE_ENV=development
SERVICE=api
STORAGE_DOMAIN=http://127.0.0.1:3000

# PostgreSQL
POSTGRES_PORT=5432
POSTGRES_DB=shopping_list
POSTGRES_HOST=db
POSTGRES_USER=user
POSTGRES_PASSWORD=pwd
POSTGRES_POOL_MIN=2
POSTGRES_POOL_MAX=15

# Jwt
JWT_SECRET_API=cet2f432f3c
JWT_REFRESH_SECRET_API=cet2f432f3c1

# Swagger
SWAGGER_USER=user
SWAGGER_PASSWORD=pwd

# Encryption
ENCRYPTION_KEY=PIPMZf55IADhPF1QWMpqngXvv4A2RN1uyqwqelzwE3U=

# Hash
SALT=HMkWAjQbPvr5Fa49gErl7b+QBVMnTLvD/nLyh6Dx/80=

# R2
R2_ACCOUNT_ID=f0a38d2asdasad3200sdadas8a00ca5
R2_ACCESS_KEY_ID=d91f359232371f8a47b22883229b3215
R2_SECRET_ACCESS_KEY=68d129d6584a827bdgdgdgdggdosaso5176a365ab386ee61907986
R2_BUCKET_NAME=r2-test
R2_PUBLIC_URL=https://pub-76543a7107c247cbhsyhs1992272a60d.r2.dev

# Google
GOOGLE_CLIENT_ID=your_client_id_here
GOOGLE_CLIENT_SECRET=your_client_secret_here

# Meta
FACEBOOK_APP_ID=2981289181231
FACEBOOK_APP_SECRET=8f9fa8693d8sadaa485df93098
