DB_HOST=db
DB_PORT=5432
DB_USER=user
DB_PASSWORD=pwd
DB_DATABASE=tts

POSTGRES_USER=user
POSTGRES_PASSWORD=pwd
POSTGRES_DB=tts

PORT=3001

# TTS SERVICE CONFIGURATION
TTS_API_KEY=xxxxx
TTS_API_URL=https://api.example.com

API_DOMAIN=https://57d047280608.ngrok-free.app
