@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3f4f6; /* bg-gray-100 */
  background-image: radial-gradient(#d1d5db 0.5px, transparent 0.5px);
  background-size: 10px 10px;
}
